@{
    ViewBag.Title = "Home Page";
}

<a id="manageStudents"><h3>Manage Students</h3></a>
<a id="manageStaffUsers"><h3>Manage Staff Users</h3></a>
<a id="manageCourses" href="/Course"><h3>Manage Courses</h3></a>