@{
    ViewBag.TItle = "Manage Courses";
}

<h1>Students</h1>
<hr />
<h3>Filter</h3>
<table>
    <tr>
        <td>First Name: </td>
        <td>@Html.TextBox("FirstName")</td>
        <td>Surname: </td>
        <td>@Html.TextBox("Surname")</td>
    </tr>
</table>
<hr />
<div>
    @Html.Partial("StudentListPartial")
</div>
<br />
<a class="btn btn-default" href="/Student/New">Add Student</a>
